.articleCard {
    width: 100%;
    margin-bottom: 20px;
    /* box-shadow: 10px 6px rgb(214, 247, 214); */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

body {
    background-color: #fafafa;
}

.dropdown {
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 10px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    width: 15%;
    height: 3px;
    background-color: rgb(214, 247, 214);
    border-radius: 10px;
    margin-left: 6px;
}

.cardTitle {
    margin: 10px;
    font-size: 1.7rem;
    font-weight: 800;
}

.cardText {
    font-size: 1.1rem;
    font-weight: 600;
}

.cardHeader {
    padding: 10px;
    background-color: #f8f8f8;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.cardBody {
    border: 1px solid lightgray;
    border-top: 1px transparent;
    padding: 0.6rem;
    padding-bottom: 1.4rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.card-img-top {
    max-height: 25rem;
}

.marked {
    align-self: flex-end;
}

.active {
    font-weight: bold;
}

.text-nowrap {
    text-wrap: nowrap;
}

.btn-status {
    border-radius: 30px;
}

.btn-status:hover {
    color: rgb(168, 168, 168);
}

.btn-status:active {
    font-weight: bold;
}


@media screen and (min-width: 992px) {
    nav {
        border-bottom: 2px solid green;

    }

    .articleCard {
        width: 70%;
    }

    .dropdown {
        width: 80%;
    }
}

.favoriteBtn:hover {
    cursor: pointer;

}