.active{
    font-weight: bold; 
}

.text-nowrap{
    text-wrap: nowrap;
}


@media screen and (min-width: 992px) {
    nav{
        border-bottom: 2px solid green; 
        margin-bottom: 10px;  
    }
}